.info-text{
  text-align: center;}

mat-spinner{
  margin: auto;}

.game-card{
  width:100%;
  height:70%;
  
  }

mat-card-content{
max-width: 100%;
  height: 50%;
  word-wrap: break-word;
  overflow: hidden;
}
mat-paginator{
  margin-top: 1rem;
}
