<mat-grid-list cols="3"gutterSize="1rem">
  <mat-grid-tile *ngFor="let game of games">
    <mat-card class="game-card">
      <mat-card-header >
        <mat-card-title><a [routerLink]="['/gamedetail', game._id]">{{ game.name }}</a></mat-card-title>
        <mat-card-subtitle>platform: {{ game.platform }}</mat-card-subtitle>
        <mat-card-subtitle>description: {{ game.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions *ngIf="userIsAuth">
        <a mat-raised-button color="warn" (click)="onDelete(game._id)">DELETE</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


