<mat-card>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        
        <form [formGroup]="updateDeveloperForm" *ngIf="!isLoading">
          <mat-form-field>
            <input matInput type="text" formControlName="name" placeholder="Developer Name"/>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="updateDeveloper(gameId, developerId)" [disabled]="!updateDeveloperForm.valid">
            Save Developer
          </button>
        </form>
      </mat-card>