<div id="navbar" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.2" fxLayoutAlign="center">
    <a *ngIf="userIsAuth" id="profileButton" mat-flat-button routerLink="profile">Home</a>
    <span id="spacer"></span>
    <a *ngIf="!userIsAuth" mat-raised-button color="primary" routerLink="login" id="loginbutton"> Inloggen</a>
    <a *ngIf="userIsAuth" (click)="onLogout()" mat-raised-button color="warn" id="logoutbutton"> Uitloggen</a>
    <span id="spacer"></span>
    <a *ngIf="!userIsAuth" mat-raised-button color="primary" routerLink="register" id="registerbutton"> Registreer</a>
  </div>