<mat-card>
  <form [formGroup]="updateCharachterForm">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder={{charachter?.name}} />
    </mat-form-field>
    <span id="spacer"></span>
    <mat-form-field>
      <input matInput type="number" formControlName="level" placeholder={{charachter?.level}} />
    </mat-form-field>
    <span id="spacer"></span>
    <button mat-raised-button color="primary" (click)="updateCharachter(gameId, charachterId)" [disabled]="!updateCharachterForm.valid">
      Save Charachter
    </button>
  </form>
</mat-card>