/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.container {
    background-color: silver;
    padding: 12px 35px 40px 35px;
}

h2 {
    margin-bottom: 25px;
}