#button {
    margin-left: 5px;
    
}
#spacer {
    flex: 1 1 auto;
}

.mat-dialog-actions {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
  
}